.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/weblog")= __('Home')					
      else
        a(href="/weblog")= __('Home')	
    li
      if is_archive()
        a.current(href="/weblog/archives")= __('Archive')
      else
        a(href="/weblog/archives")= __('Archive')
    li
        a(href="https://coletree.com/weblog/categories/%E6%A3%AE%E6%9E%97%E5%B9%BF%E6%92%AD/")= __('电台')
    li
        a(href="https://www.behance.net/coletree/")= __('项目')
    li
        a(href="mailto:coletree@gmail.com")= __('联系')
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
